# Objetivo: Analizar la afluencia promedio de cada estación para poder darle aún más información al usuario.

In [1]:
import pandas as pd
import numpy as np
import re

In [2]:
afluencia = pd.read_csv('afluencia-diaria-del-metro-cdmx.csv')
afluencia.head()

        Fecha  Dia     Mes   Año    Linea         Estacion  Afluencia
0  2013-08-26   26  agosto  2013  Linea 4      Santa Anita     2449.0
1  2013-08-26   26  agosto  2013  Linea 4          Jamaica     7626.0
2  2013-08-26   26  agosto  2013  Linea 4    Fray Servando     7194.0
3  2013-08-26   26  agosto  2013  Linea 4       Candelaria     6441.0
4  2013-08-26   26  agosto  2013  Linea 4  Canal del Norte     9088.0

In [3]:
list_afluencia = list(afluencia.Estacion.unique())

In [4]:
list_afluencia[:5] #ver cómo se imprime la de "Canal del Norte"

['Santa Anita', 'Jamaica', 'Fray Servando', 'Candelaria', 'Canal del Norte']

In [5]:
#Los nombres son distintos para muchos estaciones. podemos verlo con la otra base de datos.
estaciones = pd.read_csv('estaciones_con_colonias_CORRECTO.csv')
list_total = list(estaciones.nombre_estacion.unique())

In [6]:
interseccion = [e for e in list_total if e in list_afluencia]
len(interseccion)

106

In [7]:
not_there = [e for e in list_total if e not in list_afluencia]
not_there[:5]
#ver cómo se imprime la de 'Canal del Norte_1'

['Talismán_1_2',
 'Río de los Remedios_1',
 'Bondojito_1',
 'Tezozómoc',
 'Canal del Norte_1']

## Hay un patrón. 106 de las 195 estaciones coinciden perfectamente en el nombre con la base de datos de la afluencia, pero para las 89 estaciones restantes seguramente necesito quitar los números y los guiones bajos.

    De todas maneras, es un hecho que hay menos registros en la base de datos de la afluencia. El mecanismo es el siguiente: seguramente en la lista de afluencia cuentan cosas como 'pantitlan_1', 'pantitlan_1_2' y 'pantitlan_1_5' solo como 'pantitlan', por lo que hay menos estaciones en general.

In [8]:
#Antes de solucionar eso, primero lo primero. Agrupemos la estaciones por promedio de afluencia.

avg_afluencia = afluencia.groupby('Estacion', as_index=False).mean()
avg_afluencia = avg_afluencia.drop(columns=['Dia', 'Año'])
avg_afluencia = avg_afluencia.sort_values(by=['Afluencia'], ascending=False)
avg_afluencia.head()

#prestar atención al valor de Cuatro Caminos; después lo usaré como comprobación

                 Estacion      Afluencia
39         Cuatro Caminos  115794.732591
65          Indios Verdes  115176.054581
33   Constitución de 1917   87142.289891
139              Tasqueña   86318.474520
106             Pantitlán   76179.709830

El primer paso para solucionar mi problema es crear una nueva columna en mi base de datos con las 195 estaciones en donde le quite a los nombres los guiones bajos y los números.

In [9]:
def quitar_signos(x):
    """Esta función me ayudará a quitar los guiones bajos y los números de las estaciones. """
    x = str(x)
    if "_" in x:
        x = x.replace("_", "")
        x = re.sub(r'\d', "", x)
    return x

In [10]:
estaciones['Estacion'] = estaciones.nombre_estacion.apply(quitar_signos)
len(estaciones.Estacion.unique())
#no está mal, tengo 164 vs. 160 en la otra base. Vamos a unirlas.

164

In [11]:
res = {}
lst_final = list(estaciones.Estacion.unique())
for e in lst_final:
    if e in list_afluencia:
        res[e] = avg_afluencia.Afluencia[avg_afluencia.Estacion==e].values[0]
    elif e not in list_afluencia:
        res[e] = 'No Disponible'

In [12]:
res #va bien.

{'Zapotitlán': 6293.883319409635,
 'Tecnológico': 28577.38485101643,
 'Olímpica': 18907.3029796714,
 'Múzquiz': 33639.77582846004,
 'Ciudad Azteca': 60232.78724589251,
 'Talismán': 6053.748816485659,
 'Valle Gómez': 4466.53522695628,
 'Plaza Aragón': 21277.271233639654,
 'Nezahualcóyotl': 24313.73767752715,
 'Impulsora': 26640.53439153439,
 'La Paz': 33650.321915900866,
 'Aculco': 9976.583124477862,
 'Consulado': 4804.211222500696,
 'Los Reyes': 18827.677527151212,
 'Río de los Remedios': 21593.766360345307,
 'Tlaltenco': 1400.7117794486217,
 'Bondojito': 6645.302144249513,
 'Tezozómoc': 'No Disponible',
 'Obrera': 13757.268448900028,
 'Canal del Norte': 8943.5104427736,
 'Santa Anita': 5043.117655249234,
 'Azcapotzalco': 8074.150375939849,
 'Autobuses del Norte': 23681.581453634084,
 'El Rosario': 27207.85923141186,
 'Jamaica': 9789.89209133946,
 'Juanacatlán': 12857.875800612643,
 'Escuadrón 201': 23929.658312447787,
 'Vallejo': 7008.799498746867,
 'Misterios': 8515.341687552214,
 'Politécnico': 34369.49067112225,
 'Cuatro Caminos': 115794.73259052925,
 'Iztapalapa': 10517.570593149541,
 'Lindavista': 16747.626009468117,
 'R. Flores Magón': 'No Disponible',
 'Doctores': 12124.936229462544,
 'Terminal Aérea': 16235.166248955722,
 'Instituto del Petróleo': 'No Disponible',
 'Ferrería': 21830.366750208854,
 'Tepito': 22876.747145641883,
 'Morelos': 6447.084795321637,
 'Martín Carrera': 25986.600111389584,
 'Acatitla': 14331.03842940685,
 'Colegio Militar': 16190.261765524923,
 'Eje Central': 6109.411862990811,
 'Chabacano': 14537.281537176274,
 'San Andrés Tomatlán': 5426.228348649402,
 'Refinería': 10071.830130882763,
 'Nopalera': 9287.119465329992,
 'Canal de San Juan': 12841.809523809523,
 'Deportivo  de Marzo': 'No Disponible',
 'Norte ': 'No Disponible',
 'Peñón Viejo': 12949.40768588137,
 'Santa Marta': 26461.457811194654,
 'Eduardo Molina': 7322.717348927875,
 'Agrícola Oriental': 10423.801169590643,
 'Apatlaco': 13594.986076301866,
 'Aragón': 7551.004734057366,
 'Aquiles Serdán': 16421.337510442772,
 'La Viga': 7222.434976329713,
 'La Villa - Basílica': 'No Disponible',
 'UAM-I': 'No Disponible',
 'Calle 11': 6990.797270955166,
 'Popotla': 10696.581732108049,
 'General Anaya': 30377.272347535505,
 'Guelatao': 19784.988861041493,
 'Hangares': 5113.33194096352,
 'Parque de los Venados': 6797.436368699527,
 'Candelaria': 15751.42745753272,
 'Cerro de la Estrella': 12549.203007518798,
 'Ciudad Deportiva': 8443.53021442495,
 'Zaragoza': 53387.82929546088,
 'Hospital General': 23334.650515176832,
 'Hospital 20 de Nov.': 'No Disponible',
 'Balbuena': 15388.236145920357,
 'Constituyentes': 8876.91283764968,
 'Panteones': 13924.825348189415,
 'Fray Servando': 8003.428849902534,
 'Tezonco': 10309.571150097467,
 'Viveros': 23887.406293511558,
 'Deportivo Oceanía': 16973.91172375383,
 'Tepalcates': 16350.0932887775,
 'Copilco': 39913.24812030075,
 'Tacuba': 22447.091060985797,
 'Lomas Estrella': 5500.307156780841,
 'Iztacalco': 21179.025341130604,
 'Instituto del Petroleo': 'No Disponible',
 'Universidad': 71780.75160122529,
 'Cuitláhuac': 20691.7156780841,
 'Villa de Cortés': 19064.508771929824,
 'Blvd. Puerto Aéreo': 30020.639376218325,
 'Periférico Ote': 'No Disponible',
 'Normal': 37088.584795321636,
 'Romero Rubio': 9169.644110275689,
 'Viaducto': 22636.832637148425,
 'Tláhuac': 23129.23336118073,
 'Patriotismo': 17988.29880256196,
 'Xola': 22514.82790309106,
 'Mixhuca': 'No Disponible',
 'Culhuacán': 6954.838763575605,
 'Atlalilco': 15076.393762183236,
 'San Antonio': 14935.242272347536,
 'Barranca del Muerto': 38920.93428014481,
 'Coyoacán': 25103.7716513506,
 'Garibaldi': 15206.225842383737,
 'División del Norte': 20173.532720690615,
 'Velódromo': 9440.072403230299,
 'Olivos': 8233.313283208021,
 'Miguel Ángel de Quevedo': 'No Disponible',
 'Bosque de Aragón': 6614.362573099415,
 'Coyuya': 21710.744360902256,
 'Lagunilla': 25562.851016429962,
 'Eugenia': 19000.01670843776,
 'Mexicaltzingo': 10688.62962962963,
 'Nativitas': 21693.459760512393,
 'San Pedro de Los Pinos': 'No Disponible',
 'Moctezuma': 27388.827624617097,
 'Lázaro Cárdenas': 13027.722639933167,
 'Gómez Farías': 38363.786410470624,
 'Camarones': 15090.215538847118,
 'San Joaquín': 22628.631021999445,
 'San Juan de Letrán': 'No Disponible',
 'San Cosme': 26297.284878863826,
 'Potrero': 20560.02172096909,
 'Tlatelolco': 22481.44611528822,
 'La Raza': 22191.812865497075,
 'Portales': 22348.149262044,
 'Puebla': 32883.18574213311,
 'Auditorio': 30762.211918685603,
 'Ermita': 12730.697577276525,
 'San Lázaro': 23054.42940685046,
 'Villa de Aragón': 14225.893622946254,
 'Salto del Agua': 20448.74366471735,
 'Mixcoac': 16150.259676970203,
 'Insurgentes Sur': 19768.93984962406,
 'Juárez': 19040.88972431078,
 'Niños Héroes': 19447.112781954886,
 'Sevilla': 31335.44917850181,
 'Centro Médico': 17522.972152603732,
 'Constitución de 1917': 87142.28989139515,
 'Tasqueña': 86318.47451963241,
 'Observatorio': 71939.216374269,
 'Chilpancingo': 41863.06739069897,
 'Guerrero': 9192.543302701197,
 'Chapultepec': 55452.26232247285,
 'Etiopía / Plaza de la Transpatencia': 'No Disponible',
 'Pantitlán': 76179.70983013089,
 'Cuauhtémoc': 22269.549150654413,
 'San Antonio Abad': 23549.49986076302,
 'Zapata': 19537.352548036757,
 'Bellas Artes': 25048.495405179616,
 'Oceanía': 9665.855889724311,
 'Indios Verdes': 115176.05458089669,
 'Polanco': 31335.47201336675,
 'Tacubaya': 31279.27030539311,
 'Isabel la Católica': 23844.919521024785,
 'Allende': 33354.49902534113,
 'Buenavista': 55899.357282094126,
 'Insurgentes': 56141.03007518797,
 'Merced': 50168.16485658591,
 'Revolución': 29303.717070453913,
 'Balderas': 14951.508075744918,
 'Pino Suárez': 28565.2529935951,
 'Hidalgo': 25881.416179337233,
 'Zócalo': 69174.64550264551}

In [13]:
estaciones['Afluencia'] = estaciones.Estacion.map(res)
estaciones[estaciones.nombre_estacion == 'Cuatro Caminos']
#ver el valor de Afluencia en cuatro caminos. Sí funcionó esto.

,Unnamed: 0,nombre_estacion,primera_linea,segunda_linea,tercera_linea,cuarta_linea,calif_estacion,ranking_estacion,colonia,calif_colonia,ranking_colonia,stop_lat,stop_lon,Estacion,Afluencia
30,30,Cuatro Caminos,Metro 2,Ninguna,Ninguna,Ninguna,99.17,17,San Joaquín,92.3,880,19.458454,-99.214643,Cuatro Caminos,115795

In [14]:
estaciones = estaciones.drop(columns=['Estacion', 'Unnamed: 0'])
estaciones = estaciones.rename(columns={'Afluencia': 'afluencia_promedio'})

# Listo. Ya tenemos el nivel de afluencia promedio para prácticamente todas las estaciones, ¿luego qué sigue? 

    Tenemos dos opciones. La primera es dejar el número así tal cual y dejar que el usuario interprete el dato así como venga, y la otra es hacer binning. Podemos etiquetar a las estaciones como 'Muy Concurridas', 'Más o menos concurridas', etc. Notar que Google siempre le ganará a nuestro análisis porque toma la información en vivo, mientras que nosotros solo nos basamos en el promedio histórico.

In [15]:
estaciones.afluencia_promedio.describe()

count               195
unique              150
top       No Disponible
freq                 16
Name: afluencia_promedio, dtype: object

Decidimos dejar el número tal cual porque para el usuario eso le da una mayor impresión acerca de nuestro sistema. Se ve mucho más preciso (y lo es) dar un número distinto para cada estación que simplemente mencionar una de varias categorías preseleccionadas.

In [16]:
estaciones.afluencia_promedio = estaciones.afluencia_promedio.apply(lambda x: round(int(x), 0)  if x != "No Disponible" else x)

In [24]:
estaciones.tail(10)

,nombre_estacion,primera_linea,segunda_linea,tercera_linea,cuarta_linea,calif_estacion,ranking_estacion,colonia,calif_colonia,ranking_colonia,stop_lat,stop_lon,afluencia_promedio
185,Balderas_1,Metro 3,Metro 1,Ninguna,Ninguna,69.81,172,Doctores,57.0,1626,19.426924,-99.148811,14951
186,Pino Suárez_1,Metro 2,Metro 1,Ninguna,Ninguna,61.77,173,Centro,25.73,1627,19.425437,-99.133040,28565
187,Hidalgo_1_3,Metro 3,Metro 2,Ninguna,Ninguna,61.50,174,Centro,25.73,1627,19.436749,-99.146816,25881
188,Balderas_1_2,Metro 1,Metro 3,Ninguna,Ninguna,60.39,175,Centro,25.73,1627,19.427299,-99.149122,14951
189,Chabacano_1_2,Metro 2,Metro 8,Metro 9,Ninguna,54.02,176,Vista Alegre,90.09,1208,19.408913,-99.135422,14537
190,Bellas Artes_1_2,Metro 2,Metro 8,Ninguna,Ninguna,45.98,177,Centro,25.73,1627,19.435960,-99.141558,25048
191,Pantitlán_1_3,Metro 9,Metro 1,Metro 5,Metro A,44.32,178,Agrícola Pantitlan,79.29,1610,19.414885,-99.072516,76179
192,Zócalo,Metro 2,Ninguna,Ninguna,Ninguna,29.64,179,Centro,25.73,1627,19.432602,-99.131879,69174
193,Pino Suárez_1_2,Metro 1,Metro 2,Ninguna,Ninguna,4.71,180,Centro,25.73,1627,19.425953,-99.132686,28565
194,Hidalgo_1_2,Metro 2,Metro 3,Ninguna,Ninguna,0.00,181,Guerrero,77.67,1612,19.437700,-99.147309,25881

In [18]:
#podemos ya guardar el archivo! 
estaciones_con_afluencia = estaciones.to_csv('estaciones_afluencia_11_12.csv')